* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background: none;
  user-select: none;
}

div.base {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

/***************************************************/
/* Vertical or horizontal alignment settings.      */
/***************************************************/
div.base {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
:host([valign="top"]) > div.base {
  justify-content: flex-start;
}
:host([valign="bottom"]) > div.base {
  justify-content: flex-end;
}
:host([halign="left"]) > div.base {
  align-items: flex-start;
}
:host([halign="right"]) > div.base {
  align-items: flex-end;
}

/***************************************************/
/* Canvas or Img selection.                        */
/***************************************************/
.photo,
.empty {
  display: none;
}
.empty {
  width: 100%;
  height: 100%;
}
img.photo {
  width: 100%;
  height: 100%;
}
div.base[draw-mode="img"] img.photo {
  display: block;
}
div.base[draw-mode="none"] .empty {
  display: block;
}
div.base[draw-mode="none"] .virtual {
  width: 100% !important;
  height: 100% !important;
}

/***************************************************/
/* Slot settings.                                  */
/***************************************************/
.slotarea {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 1300%;
}

