* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background: none;
  line-height: 1.1;
}

:host {
  background: none;
  cursor: pointer;
  pointer-events: none;
  overflow: hidden;
}

div {
  user-select: none;
  width: 100%;
}

:host > div {
  position: absolute;
  pointer-events: auto;
  height: 100%;
}

div[framestate="unloaded"] {
  visibility: hidden;
  pointer-events: none;
}

:host > div[background="show"] {
  background-color: white;
}

/*************************/
/* print border setting. */
/*************************/
div.printBorder {
  pointer-events: none;
  position: absolute;
  height: 100%;
}
:host-context([frame-border="show"]) div.printBorder {
  border: 1px solid black;
}
:host([disable-frame-border]) div.printBorder {
  border: none !important;
}

/*****************************/
/* focus border setting.     */
/*****************************/
div.selection-border {
  position: absolute;
  height: 100%;
}
:host([selected="main"]) div.selection-border {
  border: solid 2px #008000;
}
:host([selected="sub"]) div.selection-border {
  border: solid 2px #00FF00;
}
:host([selected="appeal"]) div.selection-border {
  border: solid 2px #008000;
}

/*************************/
/* condition setting.    */
/*************************/
:host-context([text-mode="X"]) div[displaytype="T"],
:host-context([text-mode="F"]) div[displaytype="T"] {
  visibility: hidden;
}
:host-context([text-mode="T"]) div[displaytype="X"],
:host-context([text-mode="F"]) div[displaytype="X"] {
  visibility: hidden;
}
:host-context([text-mode="T"]) div[displaytype="F"],
:host-context([text-mode="X"]) div[displaytype="F"] {
  visibility: hidden;
}
:host([condition~="KOKUBAN_MATCH"]) > div[kokuban-match-state="unmatch"], :host([condition~="KOKUBAN_MATCH"]) > div[kokuban-match-state="none"] {
  visibility: hidden;
}
:host([condition~="KOKUBAN_UNMATCH"]) div[kokuban-match-state="match"] {
  visibility: hidden;
}

/*************************/
/* warning mark setting. */
/*************************/
.warning {
  position: absolute;
  width: 14px;
  height: auto;
  right: 2px;
  bottom: 2px;
  visibility: hidden;
}
:host-context([text-mode="X"][warning-icon="show"]) .warning[warn="on"] {
  visibility: inherit;
}

/************************/
/* normal text setting. */
/************************/
goyo-normaltext {
  position: absolute;
  width: 100%;
  height: 100%;
}
div[text-type="rich"] goyo-normaltext {
  display: none;
}

/**********************/
/* Rich text setting. */
/**********************/
goyo-richtext {
  position: absolute;
  width: 100%;
  height: 100%;
}
div[text-type="normal"] goyo-richtext {
  display: none;
}

