/****************************************************************************************
 *
 ****************************************************************************************/

.goyo-cursor-mommy-finger-left {
  cursor: url('goyop:///contents/common/images/mouse/move-pointer-left.png') 1 10, pointer;
}

.goyo-cursor-mommy-finger-right {
  cursor: url('goyop:///contents/common/images/mouse/move-pointer-right.png') 31 10, pointer;
}

.goyo-cursor-mommy-finger {
  cursor: url('goyop:///contents/common/images/mouse/move-pointer.png') 10 2, pointer;
}

.goyo-cursor-finger-five {
  cursor: url('goyop:///contents/common/images/mouse/move3.png') 13 2, -webkit-grab;
}

.goyo-cursor-mommy-finger-left-top {
  cursor: url('goyop:///contents/common/images/mouse/left_2.png') 1 10, auto;
}

.goyo-cursor-mommy-finger-right-top {
  cursor: url('goyop:///contents/common/images/mouse/right_2.png') 37 10, auto;
}
.cursor_default{
  cursor: default;
}
.cursor_text{
  cursor: text;
}